<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robin.appliprojet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FavorisListe"
            android:label="@string/title_activity_favoris_liste"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AchatsListe"
            android:label="@string/title_activity_achats_liste"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Recherche"
            android:label="@string/title_activity_recherche"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Parametres"
            android:label="@string/title_activity_parametres"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResultRecherche"
            android:label="@string/title_activity_result_recherche"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Parametres2"
            android:label="@string/title_activity_parametres2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AchatsListe2"
            android:label="@string/title_activity_achats_liste2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FavorisListe2"
            android:label="@string/title_activity_favoris_liste2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Recherche2"
            android:label="@string/title_activity_recherche2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ResultRecherche2"
            android:label="@string/title_activity_result_recherche2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailSalle"
            android:label="@string/title_activity_detail_salle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailArtiste"
            android:label="@string/title_activity_detail_artiste"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailRechercheConcert"
            android:label="@string/title_activity_detail_recherche_concert"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ConfirmationAchat"
            android:label="@string/title_activity_confirmation_achat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailAchat"
            android:label="@string/title_activity_detail_achat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Don"
            android:label="@string/title_activity_don"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>